[submodule "lib/@gearbox-protocol/sdk-gov"]
	path = lib/@gearbox-protocol/sdk-gov
	url = https://github.com/Gearbox-protocol/sdk-gov
[submodule "lib/@gearbox-protocol/core-v3"]
	path = lib/@gearbox-protocol/core-v3
	url = https://github.com/Gearbox-protocol/core-v3
[submodule "lib/@gearbox-protocol/oracles-v3"]
	path = lib/@gearbox-protocol/oracles-v3
	url = https://github.com/Gearbox-protocol/oracles-v3
[submodule "lib/@1inch/solidity-utils"]
	path = lib/@1inch/solidity-utils
	url = https://github.com/1inch/solidity-utils
[submodule "lib/@1inch/farming"]
	path = lib/@1inch/farming
	url = https://github.com/1inch/farming
